<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    
    <!-- Primary Meta Tags -->
    <title>Predator - Free Open-Source Screensaver for macOS</title>
    <meta name="title" content="Predator - Free Open-Source Screensaver for macOS">
    <meta name="description" content="Predator is a minimalistic screensaver for macOS based on predator's countdown timer. Don't worry your mac doesn't blow 😄.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://predatorsaver.space/">
    <meta property="og:title" content="Predator - Free Open-Source Screensaver for macOS">
    <meta property="og:description" content="Predator is a minimalistic screensaver for macOS based on predator's countdown timer. Don't worry your mac doesn't blow 😄.">
    <meta property="og:image" content="https://raw.githubusercontent.com/vpeschenkov/Predator/master/assets/preview.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://predatorsaver.space/">
    <meta property="twitter:title" content="Predator - Free Open-Source Screensaver for macOS">
    <meta property="twitter:description" content="Predator is a minimalistic screensaver for macOS based on predator's countdown timer. Don't worry your mac doesn't blow 😄.">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/vpeschenkov/Predator/master/assets/preview.png">
    
    <!-- Others -->
    <meta name="keywords" content="screensaver,app,download,free,mac,macos,predator,screen saver,osx,minimalistic,countdown">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="canonical" href="https://predatorsaver.space/" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <header>
      <a href='https://github.com/vpeschenkov/Predator' style='position:fixed;padding:5px 45px;width:128px;top:50px;right:-50px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);box-shadow:0 0 0 3px #b5e853;text-shadow:0 0 0 #ffffff;background-color:#b5e853;color:#ffffff;font-size:13px;font-family:sans-serif;text-decoration:none;font-weight:bold;border:2px dotted #ffffff;-webkit-backface-visibility:hidden;letter-spacing:.5px;'>Fork me on GitHub</a>
      <div class="container">
        <h1>{{ site.title }}</h1>
        <h2>{{ site.description }}</h2>
        <div class="row">
          <div class="column">
            <img src="assets/preview-1.png" alt="Preview 1" style="width:100%">
          </div>
          <div class="column">
            <img src="assets/preview-2.png" alt="Preview 2" style="width:100%">
          </div>
          <div class="column">
            <img src="assets/preview-3.png" alt="Preview 3" style="width:100%">
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
